
        <link rel="stylesheet" href="/css/mail.css" media="screen" title="no title" charset="utf-8">

        <h1 class="logo">hummingbird</h1>

        <button ng-click="getMail('SPAM')">Spam</button>
        <button ng-click="getMail('INBOX')">Inbox</button>

        <div class="container">

            <div class="loading"></div>

            <table class="table-fill main-table nocursor" width="60%">
                <thead>
                    <tr>
                        <th class="text-left">From</th>
                        <th class="text-left">Subject</th>
                        <th class="text-left">Date</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                </tbody>
            </table>

            <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalTitle"></h4>
                            <h6 class="modal-title" id="modalSender"></h6>
                            <h6 class="modal-title" id="modalDate"></h6>
                        </div>
                        <div class="modal-body">
                            <iframe id="message-iframe" srcdoc="<p>Loading...</p>"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Compose</h4>
                        </div>
                        <form onsubmit="return sendEmail();">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="compose-to" placeholder="To" required/>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="compose-subject" placeholder="Subject" required/>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" id="compose-message" placeholder="Message" rows="10" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" id="send-button" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

          </div>
            <script id="row-template" type="x-tmpl-mustache">
                <tr class="message-link" data-toggle="modal" id="{{index}}">
                    <td class="text-left">{{from}}</td>
                    <td class="content text-left"><a>{{subject}}</a>    {{snippet}}</td>
                    <td class="text-left">{{date}}</td>
                </tr>
            </script>
