<!doctype html>
<html>
  <head>
    <title>Gmail API Shit</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <style>
      iframe {
        width: 100%;
        border: 0;
        min-height: 80%;
        height: 600px;
        display: flex;
      }
      .nowrap {
        white-space: nowrap;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>meanMail</h1>

      <button id="authorize-button" class="btn btn-primary" onclick="window.location.href='/auth/google'">Authorize</button>
</div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.3/mustache.min.js" type="text/javascript"></script>

    <!-- <script src="bower_components/mustache/mustache.min.js"></script> -->
    <!-- <script src="main.js"></script> -->
    <!-- <script src="config.js"></script> -->
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  </body>
</html>
