<div class="loginContainer">

    <i class="background"></i>
    <h1 class="logo">hummingbird</h1>
    <h2>A <strong>light</strong> email client</h2>

    <!-- <div class="icon">
      <img src="src/hummingbird.svg" alt="hummingbird logo" height="200px" width="200px"/>
    </div> -->

    <div class="hummingbird-icon">
      <!-- <object data="src/hummingbird.svg" type="image/svg+xml" height="100%" width="100%"></object> -->
      <img src="src/hummingbird.png" alt="hummingbird" />
    </div>


    <div class="button">
      <button id="authorize-button" class="btn btn-danger btncolor" ng-click="login()">Authorize with Google</button>
    </div>
</div>
