<div class="app-container blur">

    <!-- <button ng-click="getMail('INBOX')">Inbox</button> -->

          <div class="app-bar">

            <svg xmlns="http://www.w3.org/2000/svg" class="topicon icon-adjustments">
              <g stroke-width=".1em" stroke-linecap="round" stroke="#1A1A1B">
                <g class="icon-adjustments_animation">
                  <line x1=".86em" y1=".43em" x2=".86em" y2="1.0em"></line>
                  <line x1=".86em" y1="2em" x2=".86em" y2="3.5em"></line>
                </g>
                <g class="icon-adjustments_animation">
                  <line x1="2em" y1=".43em" x2="2em" y2="2em"></line>
                  <line x1="2em" y1="3em" x2="2em" y2="3.5em"></line>
                </g>
                <g class="icon-adjustments_animation">
                  <line x1="3.15em" y1=".43em" x2="3.15em" y2="1em"></line>
                  <line x1="3.15em" y1="2em" x2="3.15em" y2="3.5em"></line>
                </g>
              </g>
            </svg>

            <h1 class="logo">hermes</h1>
            <h3 class="username"> <img src="{{user.profileimg}}" alt="" /> </h3>
            <div class="input-group search">
              <input type="text" class="form-control" placeholder="search..." aria-describedby="basic-addon1">
            </div>
          </div>

          <div class="side-bar pull-right">

          </div>

          <div class="nav-bar pull-left">
            <div class="icon-container--nav active" ng-click="getMail('INBOX')">
              <img class="icon" src="src/inbox.svg" alt="" />
            </div>
            <div class="icon-container--nav" ng-click="getMail('SPAM')">
              <img class="icon" src="src/spam.svg" alt="" />
            </div>
            <div class="icon-container--nav compose" ng-click="">
              <a href="#compose-modal"
                 data-toggle="modal"><img class="icon" src="src/add.svg" alt="" /></a>
            </div>
          </div>

          <svg class="scroll-helper" version="1.1" width="80px" height="80px" viewBox="30.5 -9.5 554 813" enable-background="new 30.5 -9.5 554 813" xml:space="preserve">
              <path d="M328,0h-44C271.68,0,42,5.28,42,242v308c0,9.9,3.96,242,242,242h44c13.86,0,242-6.16,242-242V242C570,232.1,566.04,0,328,0z
               M526,550c0,191.62-177.76,198-198,198h-44C92.38,748,86,570.24,86,550V242C86,50.82,263.54,44,284,44h44
               c191.62,0,198,177.76,198,198V550z"/>
              <circle cx="306" cy="231" r="45"/>
          </svg>

          <div class="footer-bar"></div>

    <div class="mail-container">

      <!-- <a href="#compose-modal"
         data-toggle="modal"
         id="compose-button"
         class="btn btn-primary">
         Compose
      </a> -->

        <div class='load'>
          <div class='load1'></div>
          <div class='load2'></div>
          <div class='load3'></div>
          <div class='load4'></div>
        </div>

        <div class="mail-container--mailbox" ng-repeat="mail in mails">

            <div class="mail-menu">
              <div class="icon-container--trash menu-trash" ng-click="trashMail(mail.id)">
                <img class="icon" src="src/trash-can.svg" alt="" />
              </div>
            </div>

            <button class="menu-button" ng-click="toggleMenu($event)"></button>

            <div class="unread-badge pull-left" ng-show="{{mail.unread}}"></div>
            <div class="important-badge pull-left" ng-show="{{mail.important}}"></div>

            <div class="message-link mailbox--mail" data-toggle="modal" id="{{mail.index}}" messageId="{{mail.id}}" ng-click="removeLabel(mail.id, 'UNREAD')">

                <div>

                  <div class="pull-right date">
                      {{mail.date}}
                  </div>

                  <strong>{{mail.sender}}</strong><br/>

                  <div class="subject">
                      <strong>{{mail.subject}}</strong>
                  </div>
                  <br/>

                  <div class="snippet">
                      {{mail.snippet}}
                  </div>

                </div>

            </div>

        </div>

        <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: white">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                        <h6 class="modal-title" id="modalSender"></h6>
                        <h6 class="modal-title" id="modalDate"></h6>
                    </div>
                    <div class="modal-body">
                        <iframe id="message-iframe" srcdoc="<p>Loading...</p>"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Compose</h4>
                    </div>
                    <form onsubmit="return sendEmail();">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control" id="compose-to" placeholder="To" required/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="compose-subject" placeholder="Subject" required/>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="compose-message" placeholder="Message" rows="10" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" id="send-button" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="mail-content pull-right">

    </div>

    <script id="row-template" type="x-tmpl-mustache">
        <tr class="message-link" data-toggle="modal" id="{{index}}">
            <td class="text-left">{{from}}</td>
            <td class="content text-left">
                <a>{{subject}}</a>
                {{snippet}}</td>
            <td class="text-left">{{date}}</td>
        </tr>
    </script>
</div>

<div class="cover notouch">

</div>
