<div class="app-container">

    <!-- <button ng-click="getMail('SPAM')">Spam</button> -->
    <!-- <button ng-click="getMail('INBOX')">Inbox</button> -->

    <!-- <div class="col-sm-3 col-md-1 mailNav">
              <a href="#" class="btn btn-danger btn-sm btn-block" role="button"><i class="glyphicon glyphicon-edit"></i> Compose</a>
              <hr>
              <ul class="nav nav-pills nav-stacked">
                  <li class="active" ng-click="getMail('INBOX')"><a href=""><span class="badge pull-right">32</span> Inbox </a>
                  </li>
                  <li><a href="">Starred</a></li>
                  <li><a href="">Important</a></li>
                  <li ng-click="getMail('SPAM')"><a href="">Spam</a></li>
                  <li><a href="">Sent Mail</a></li>
                  <li><a href=""><span class="badge pull-right">3</span>Drafts</a></li>
              </ul>
          </div> -->

          <div class="app-bar">
            <h1 class="logo">hummingbird</h1>
          </div>

          <div class="side-bar pull-right">

          </div>

          <div class="nav-bar pull-left">
            <div class="icon-container active">
              <img class="icon" src="src/inbox.svg" alt="" />
            </div>
            <div class="icon-container">
              <img class="icon" src="src/spam.svg" alt="" />
            </div>
          </div>

          <svg class="scroll-helper" version="1.1" width="80px" height="80px" viewBox="30.5 -9.5 554 813" enable-background="new 30.5 -9.5 554 813" xml:space="preserve">
              <path d="M328,0h-44C271.68,0,42,5.28,42,242v308c0,9.9,3.96,242,242,242h44c13.86,0,242-6.16,242-242V242C570,232.1,566.04,0,328,0z
               M526,550c0,191.62-177.76,198-198,198h-44C92.38,748,86,570.24,86,550V242C86,50.82,263.54,44,284,44h44
               c191.62,0,198,177.76,198,198V550z"/>
              <circle cx="306" cy="231" r="45"/>
          </svg>

          <div class="footer-bar">

            <!-- View
            <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
            records at a time.

            <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination> -->


          </div>

    <div class="mail-container">

        <!-- <div class="loading"></div> -->

        <div class='load'>
          <div class='load1'></div>
          <div class='load2'></div>
          <div class='load3'></div>
          <div class='load4'></div>
        </div>

        <div class="mail-container--mailbox" ng-repeat="mail in mails.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

            <div class="unread-badge pull-left" ng-show="{{mail.unread}}"></div>
            <div class="important-badge pull-left" ng-show="{{mail.important}}"></div>

            <div class="message-link mailbox--mail" data-toggle="modal" id="{{mail.index}}">

                <div>
                  <div class="pull-right date">
                      {{mail.date}}
                  </div>

                  <strong>{{mail.sender}}</strong><br/>

                  <div class="subject">
                      <strong>{{mail.subject}}</strong>
                  </div>
                  <br/>

                  <div class="snippet">
                      {{mail.snippet}}
                  </div>
                </div>

                <!-- <div>
                  <div class="pull-right date">
                      {{mail.date}}asdasd
                  </div>

                  <strong>{{mail.sender}}asd</strong><br/>

                  <div class="subject">
                      <strong>{{mail.subject}}</strong>asd
                  </div>
                  <br/>

                  <div class="snippet">
                      {{mail.snippet}}asd
                  </div>
                </div> -->


            </div>

        </div>

        <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: white">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalTitle"></h4>
                        <h6 class="modal-title" id="modalSender"></h6>
                        <h6 class="modal-title" id="modalDate"></h6>
                    </div>
                    <div class="modal-body">
                        <iframe id="message-iframe" srcdoc="<p>Loading...</p>"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Compose</h4>
                    </div>
                    <form onsubmit="return sendEmail();">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control" id="compose-to" placeholder="To" required/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="compose-subject" placeholder="Subject" required/>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" id="compose-message" placeholder="Message" rows="10" required></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" id="send-button" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="mail-content pull-right">

    </div>

    <script id="row-template" type="x-tmpl-mustache">
        <tr class="message-link" data-toggle="modal" id="{{index}}">
            <td class="text-left">{{from}}</td>
            <td class="content text-left">
                <a>{{subject}}</a>
                {{snippet}}</td>
            <td class="text-left">{{date}}</td>
        </tr>
    </script>
</div>
