@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.loginContainer body {
  background-color: #fff;
  color: #fff;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

.loginContainer iframe {
  width: 100%;
  border: 0;
  min-height: 80%;
  height: 600px;
  display: flex; }

.loginContainer .bg-white {
  background: #fff; }

.loginContainer .nowrap {
  white-space: nowrap; }

.loginContainer .background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: background .4s; }

.loginContainer .logo {
  font-family: 'Pacifico', helvetica, sans-serif;
  position: relative;
  text-align: center;
  z-index: 3;
  color: #2C2F30;
  margin-top: 120px;
  font-size: 102px;
  font-weight: 300;
  padding: 0 10%;
  /*background: #6EAFF1;*/ }

.loginContainer .hummingbird-icon {
  width: 128px;
  margin-left: auto;
  margin-right: auto; }

.loginContainer .hummingbird-icon img {
  width: 128px;
  height: 128px;
  margin-top: 20px; }

.loginContainer .btncolor {
  background: #E64C17; }

.loginContainer h2 {
  position: relative;
  text-align: center;
  z-index: 3;
  color: #2C2F30;
  margin-top: 60px;
  font-size: 22px;
  font-weight: 300;
  padding: 0 10%; }

.loginContainer strong {
  font-weight: 900; }

@keyframes spinner {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(359deg); } }

.loginContainer .login {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  height: 60px;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 9; }
  .loginContainer .login.loading button {
    max-height: 100%;
    padding-top: 50px; }
    .loginContainer .login.loading button .spinner {
      opacity: 1;
      top: 40%; }
  .loginContainer .login.ok button {
    background-color: #8bc34a; }
    .loginContainer .login.ok button .spinner {
      border-radius: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      height: 20px;
      animation: none;
      transform: rotateZ(-45deg); }
  .loginContainer .login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc; }
    .loginContainer .login input + i.fa {
      color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in; }
    .loginContainer .login input:focus {
      outline: none;
      color: #444;
      border-color: #F64545;
      border-left-width: 35px; }
      .loginContainer .login input:focus + i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out; }
  .loginContainer .login a {
    font-size: 0.8em;
    color: #2196F3;
    text-decoration: none; }
  .loginContainer .login .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px; }
  .loginContainer .login button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #F64545;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 1000px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    outline: 0;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px; }
    .loginContainer .login button .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255, 255, 255, 0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); }
  .loginContainer .login:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #2196F3; }
  .loginContainer .login:not(.loading) button:focus {
    border-bottom-width: 4px; }

::-webkit-scrollbar {
  background: transparent;
  width: 6px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 10px; }

input[type=text] {
  border-radius: 5px; }

.notouch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 1; }

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  z-index: 10; }

.app-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  .app-container body {
    color: #393E3F;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility; }
  .app-container .app-bar {
    height: 60px;
    width: 100%;
    background: #fff;
    z-index: 2;
    border-bottom: 1px solid #DFDFDF; }
  .app-container .footer-bar {
    height: 30px;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 1;
    bottom: 0; }
  .app-container .nav-bar {
    height: 90vh;
    width: 15vw;
    z-index: 1;
    background: #fff; }
  .app-container .side-bar {
    height: 100vh;
    width: 60px;
    z-index: 1;
    background: #fff; }
  .app-container iframe {
    width: 100%;
    border: 0;
    min-height: 80%;
    height: 100vh;
    display: flex; }
  .app-container .mail-container {
    z-index: -1;
    width: 30vw;
    height: 100vh;
    overflow: scroll;
    margin-top: 15px; }
  .app-container .mail-container--mailbox {
    height: 110px;
    border-radius: 5px;
    background: #fff;
    color: #191919;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis; }
  .app-container .mail-container--mailbox.ng-leave {
    transition: all linear 0.5s; }
  .app-container .mail-container--mailbox.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0; }
  .app-container .mail-container--mailbox:last-child {
    border-bottom: 0px; }
  .app-container .mail-container--mailbox .snippet {
    overflow: hidden;
    margin-top: -10px; }
  .app-container .mailbox--mail {
    overflow: hidden; }
  .app-container .mail-container--mailbox:hover {
    background: #C1C3D1; }
  .app-container .mailbox--mail .date, .app-container .snippet {
    color: #8E9598;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px; }
  .app-container .subject {
    font-size: 14px; }
  .app-container .sender {
    font-size: 13px; }
  .app-container .badge {
    margin-right: 5px;
    margin-top: 2px;
    color: #DFDFDF;
    background: none; }
  .app-container .trash-slide-left {
    position: absolute;
    right: 0;
    vertical-align: middle;
    margin-top: 1vh; }
  .app-container .trash-slide-right {
    position: absolute;
    left: 0;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 1vh; }
  .app-container .unread-badge {
    position: relative;
    width: 10px;
    height: 10px;
    background: #58B4D7;
    border-radius: 100%;
    margin-right: 5px; }
  .app-container .important-badge {
    position: relative;
    left: -15px;
    margin-top: 20px;
    width: 10px;
    height: 10px;
    background: #F64545;
    border-radius: 100%;
    margin-right: 5px; }
  .app-container .glyphicon {
    margin-right: 10px;
    margin-left: 10px; }
  .app-container .nav-container {
    width: 85%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-left: 15px;
    padding: 4px;
    color: #8E95A0;
    cursor: default;
    transition: background .1s; }
    .app-container .nav-container svg {
      width: 15px;
      height: 15px;
      fill: #C2C2C2; }
  .app-container .title-only {
    margin-left: 37px; }
  .app-container .nav-container:first-child {
    margin-top: 15px; }
  .app-container .nav-container:hover {
    background: #4AACD4;
    color: white; }
  .app-container .nav-container.selected {
    background: #4AACD4;
    color: white; }
    .app-container .nav-container.selected .badge {
      color: white; }
  .app-container .mail-content {
    position: absolute;
    right: 0;
    top: 10.8vh;
    width: 55vw; }
  .app-container .mail--menu {
    margin-top: -20px;
    left: 50vw;
    height: 160px;
    width: 60px;
    border: 2px solid #000;
    background: #555555; }
  .app-container .trash-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px; }
  .app-container .trash-icon:hover {
    color: #fff; }
  .app-container .topicon {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: 2px;
    padding-top: 5px; }
  .app-container .logo {
    font-family: 'Pacifico', helvetica, sans-serif;
    font-weight: 400;
    position: absolute;
    left: 80px;
    transform: translateX(-50%);
    top: 18px;
    color: #2C2F30;
    font-size: 24px;
    cursor: default;
    z-index: 2; }
  .app-container .title {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 300;
    position: absolute;
    left: 100px;
    transform: translateX(-50%);
    margin-top: 25px;
    color: #fff;
    font-size: 30px;
    cursor: default; }
  .app-container .username {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 40px;
    margin-left: 30px;
    color: #DFDFDF;
    font-size: 16px;
    border-radius: 100%; }
    .app-container .username .name {
      margin-left: 5px; }
  .app-container .icon {
    width: 25px;
    height: 25px; }
  .app-container .icon-container--nav {
    width: 8vw;
    height: 4vh;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #343436;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #191919;
    margin-bottom: 10px;
    background: #343436;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.8); }
  .app-container .icon-container--nav:hover {
    background: #22262e; }
  .app-container .compose-container--nav {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #DFDFDF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #DFDFDF;
    margin-bottom: 10px;
    transition: background .2s; }
    .app-container .compose-container--nav .glyphicon {
      font-size: 20px; }
  .app-container .compose-container--nav:hover {
    background: #4AACD4;
    color: white; }
  .app-container .label-container--nav {
    position: relative;
    float: left;
    left: 7.5px;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    margin-right: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.3); }
  .app-container .important {
    background: #F64545; }
  .app-container .important:hover {
    background: #d12f21; }
  .app-container .unread {
    background: #3E94EC; }
  .app-container .unread:hover {
    background: #2b79c9; }
  .app-container .icon-container--trash {
    width: 50px;
    height: 60px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background: #343436;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0px solid #000;
    border-top: 1px solid #22262e;
    margin-bottom: 10px;
    background: #343436;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5); }
  .app-container .icon-container--trash:hover {
    background: #F64545; }
  .app-container .active {
    background: #22262e;
    border: 1px solid #191919;
    -webkit-box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0px 5px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1); }
  .app-container .important.active {
    background: #d12f21; }
  .app-container .unread.active {
    background: #2b79c9; }
  .app-container .menu-trash {
    margin-top: 15px;
    width: 40px;
    height: 45px; }
  .app-container .menu-trash:hover {
    background: #F64545; }
  .app-container .menu-trash:active {
    background: #F64545;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1), inset 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.1), inset 0px 6px 10px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px -3px -10px rgba(0, 0, 0, 0.1), inset 0px 6px 10px 0px rgba(0, 0, 0, 0.4); }
  .app-container .menu-trash > .icon {
    width: 25px; }
  .app-container .nav-pills > li > a {
    padding: 5px 10px; }
  .app-container .mailNav {
    margin-top: 60px;
    margin-left: 30px; }
  .app-container .modal-header {
    color: #393E3F; }
  .app-container .modal-body {
    height: 60vh; }
  .app-container .modal {
    margin-top: 8.5vh; }
  .app-container .hummingbird-icon {
    width: 128px;
    margin-left: auto;
    margin-right: auto; }
  .app-container .hummingbird-icon img {
    width: 128px;
    height: 128px;
    margin-top: 20px; }
  .app-container .footer {
    height: 20px;
    background: #343436;
    border-top: 2px solid #555555; }
  .app-container .nowrap {
    white-space: nowrap;
    text-overflow: ellipsis; }
  .app-container .nocursor {
    cursor: default; }
  .app-container .search {
    position: absolute;
    left: 15vw;
    padding-top: 13px;
    width: 30vw;
    z-index: 0; }
  .app-container .mail-menu {
    left: -60px;
    /* start off behind the scenes */
    height: 160px;
    position: absolute;
    top: 0;
    width: 60px;
    background: #22262e;
    border-bottom: 1px solid #1D1F20;
    -webkit-box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 5px 10px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.4), inset 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    z-index: 4; }
  .app-container .menu-button {
    width: 10px;
    height: 40px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: 10px;
    float: left;
    border: none;
    cursor: default;
    outline: 0;
    background: #555555;
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.5); }
  .app-container .menu-button:hover {
    background: #F64545;
    height: 45px; }
  .app-container .menu-button:active {
    outline: none; }
  .app-container .move-right {
    transform: translateX(60px);
    transition-duration: .8s; }
  .app-container .move-left {
    transform: translateX(0px);
    transition-duration: .8s; }
  .app-container .compose {
    position: absolute;
    top: 9px;
    right: 40px;
    outline: 0; }
  .app-container svg {
    fill: #fff; }
  .app-container .st0 {
    fill: #ffffff; }
  .app-container .scroll_container {
    position: absolute;
    /*bottom:15rem;*/
    top: 70vh;
    left: 18.5vw; }
  .app-container .load {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    animation: load-ani1 3s ease-in-out infinite;
    position: absolute;
    left: 28.5vw;
    top: 50vh;
    z-index: 2; }
  .app-container .load i {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    position: absolute; }
  .app-container .load i:nth-child(1) {
    background: #F64545;
    transform: translate(0, 35px);
    animation: load-ani2 3s ease-in-out infinite; }
  .app-container .load i:nth-child(2) {
    background: #8bc34a;
    transform: rotate(90deg) translate(0, 35px);
    animation: load-ani3 3s ease-in-out infinite; }
  .app-container .load i:nth-child(3) {
    background: #4FA6CF;
    transform: rotate(180deg) translate(0, 35px);
    animation: load-ani4 3s ease-in-out infinite; }
  .app-container .load i:nth-child(4) {
    background: #FCC14A;
    transform: rotate(270deg) translate(0, 35px);
    animation: load-ani5 3s ease-in-out infinite; }

@keyframes load-ani1 {
  25% {
    transform: rotate(135deg); }
  50% {
    transform: rotate(225deg); }
  75% {
    transform: rotate(315deg); }
  100% {
    transform: rotate(405deg); } }

@keyframes load-ani2 {
  17.5%, 25%, 42.5%, 50%, 67.5%, 75%, 92.5%, 100% {
    transform: translate(0, 35px); }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: translate(0, 15px); } }

@keyframes load-ani3 {
  17.5%, 25%, 42.5%, 50%, 67.5%, 75%, 92.5%, 100% {
    transform: rotate(90deg) translate(0, 35px); }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(90deg) translate(0, 15px); } }

@keyframes load-ani4 {
  17.5%, 25%, 42.5%, 50%, 67.5%, 75%, 92.5%, 100% {
    transform: rotate(180deg) translate(0, 35px); }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(180deg) translate(0, 15px); } }

@keyframes load-ani5 {
  17.5%, 25%, 42.5%, 50%, 67.5%, 75%, 92.5%, 100% {
    transform: rotate(270deg) translate(0, 35px); }
  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(270deg) translate(0, 15px); } }

.email {
  height: 100vh;
  background: #fff;
  color: #393E3F; }
  .email .mail-header {
    padding: 15px;
    border-bottom: 1px solid #DFDFDF; }
  .email .mail-title {
    margin: 0;
    line-height: 1.42857143; }
  .email .mail-body {
    position: relative;
    padding: 15px; }
  .email .green {
    background: #8bc34a; }
  .email .red {
    background: #F64545; }
  .email .red-icon {
    color: #F64545; }
  .email .grey {
    background: #454545; }
  .email .clear {
    clear: both; }
  .email .panes.wrapper {
    background: #fff; }
  .email .panes {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
  .email .pane {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.4s ease; }
  .email .pane-email {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 1px solid #DFDFDF; }
  .email .pane-email:hover {
    background: #EFEFEF; }
  .email .pane-email.selected {
    background: #EFEFEF;
    border: 1px solid #D0D0D0; }
  .email .pane-action {
    text-align: center;
    font: bold 60px/250px 'Open Sans', Helvetica, Arial, sans-serif;
    color: #fff; }
  .email .panes.animate > .pane {
    transition: all .3s;
    -webkit-transition: all .3s; }
