@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.loginContainer {
  /*.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e94ec;
}*/ }
  .loginContainer body {
    background-color: #1D1F20;
    color: #fff;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility; }
  .loginContainer iframe {
    width: 100%;
    border: 0;
    min-height: 80%;
    height: 600px;
    display: flex; }
  .loginContainer .nowrap {
    white-space: nowrap; }
  .loginContainer .logo {
    font-family: 'Pacifico', helvetica, sans-serif;
    position: relative;
    text-align: center;
    z-index: 3;
    color: #fff;
    margin-top: 120px;
    font-size: 50px;
    padding: 0 10%;
    /*background: #6EAFF1;*/ }
  .loginContainer .hummingbird-icon {
    width: 128px;
    margin-left: auto;
    margin-right: auto; }
  .loginContainer .hummingbird-icon img {
    width: 128px;
    height: 128px;
    margin-top: 20px; }
  .loginContainer .btncolor {
    background: #EA4335; }
  .loginContainer h2 {
    position: relative;
    text-align: center;
    z-index: 3;
    color: #fff;
    margin-top: 20px;
    font-size: 32px;
    padding: 0 10%; }
  .loginContainer strong {
    font-weight: 900; }
  .loginContainer .button {
    position: absolute;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center; }

.app-container {
  height: 100vh;
  overflow: hidden;
  /*** Table Styles **/
  /*FADE*/ }
  .app-container body {
    color: #fff;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility; }
  .app-container .app-bar, .app-container .footer-bar {
    height: 60px;
    width: 100%;
    background: #1D1F20; }
  .app-container .nav-bar, .app-container .side-bar {
    height: 100vh;
    width: 60px;
    background: #1D1F20; }
  .app-container .footer-bar {
    position: absolute;
    bottom: 0; }
  .app-container iframe {
    width: 100%;
    border: 0;
    min-height: 80%;
    height: 60vh;
    display: flex; }
  .app-container .mail-container {
    width: 46vw;
    height: 90vh;
    overflow: scroll; }
  .app-container .mail-container--mailbox {
    height: 160px;
    background: #EBEBEB;
    color: #000;
    border-bottom: 1px solid #C1C3D1;
    padding: 20px;
    padding-left: 20px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis; }
  .app-container .mail-container--mailbox:last-child {
    border-bottom: 0px; }
  .app-container .mail-container--mailbox .snippet {
    overflow: hidden; }
  .app-container .mailbox--mail {
    overflow: hidden; }
  .app-container .mail-container--mailbox:hover {
    background: #C1C3D1; }
  .app-container .mailbox--mail .date, .app-container .snippet {
    color: #555555; }
  .app-container .unread-badge {
    width: 10px;
    height: 10px;
    background: #3E94EC;
    border-radius: 40%;
    margin-right: 5px; }
  .app-container .important-badge {
    width: 10px;
    height: 10px;
    background: #EA4335;
    border-radius: 40%;
    margin-right: 5px; }
  .app-container .mail-content {
    width: 46vw;
    height: 90vh;
    background: #000;
    overflow: scroll; }
  .app-container .mail--menu {
    margin-top: -20px;
    left: 50vw;
    height: 160px;
    width: 60px;
    border: 2px solid #000;
    background: #555555; }
  .app-container .trash-icon {
    padding-bottom: 10px; }
  .app-container .trash-icon:hover {
    color: #fff; }
  .app-container .logo {
    font-weight: 300;
    position: absolute;
    left: 60px;
    margin-top: 15px;
    color: #fff;
    font-size: 30px; }
  .app-container .username {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 50px;
    margin-left: 5px;
    color: #fff;
    font-size: 16px; }
  .app-container .icon {
    width: 30px;
    height: 30px;
    -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.5); }
  .app-container .icon-container {
    width: 60px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #000; }
  .app-container .icon-container:hover {
    background: #22262e; }
  .app-container .active {
    background: #22262e;
    -webkit-box-shadow: inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -10px 0px 0px rgba(0, 0, 0, 0.5); }
  .app-container .nav-pills > li > a {
    padding: 5px 10px; }
  .app-container .mailNav {
    margin-top: 60px;
    margin-left: 30px; }
  .app-container .modal-header {
    background: #3D3D3E;
    color: #fff; }
  .app-container .modal {
    margin-top: 6vh; }
  .app-container .hummingbird-icon {
    width: 128px;
    margin-left: auto;
    margin-right: auto; }
  .app-container .hummingbird-icon img {
    width: 128px;
    height: 128px;
    margin-top: 20px; }
  .app-container .footer {
    height: 20px;
    background: #343436;
    border-top: 2px solid #555555; }
  .app-container .nowrap {
    white-space: nowrap;
    text-overflow: ellipsis; }
  .app-container .nocursor {
    cursor: default; }
  .app-container svg {
    fill: #fff; }
  .app-container .scroll-helper {
    position: absolute;
    bottom: 100px;
    left: 26vw; }
  .app-container circle {
    animation: scroll 1.5s ease infinite; }

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481; }
  33% {
    opacity: 1; }
  100% {
    opacity: 0;
    cy: 231; } }
  .app-container .table-fill {
    background: #1D1F20;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    table-layout: fixed;
    overflow: hidden; }
  .app-container th {
    color: #fff;
    background: #3D3D3E;
    /*background: #EA4335;*/
    border-bottom: 4px solid #555555;
    border-right: 1px solid #1D1F20;
    font-size: 22px;
    font-weight: 100;
    padding: 10px;
    padding-left: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    /*max-width: 400px;*/
    /*width: 1000px;*/ }
  .app-container th:first-child {
    /*border-top-left-radius:3px;*/
    width: 300px; }
  .app-container th:last-child {
    /*border-top-right-radius:3px;*/
    border-right: none;
    width: 300px; }
  .app-container tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    /*width: 400px;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .app-container tr:hover td {
    background: #4E5066;
    color: #FFFFFF; }
  .app-container tr:hover a {
    color: #fff; }
  .app-container tr:first-child {
    border-top: none; }
  .app-container tr:last-child {
    border-bottom: none; }
  .app-container tr:nth-child(odd) td {
    background: #EBEBEB; }
  .app-container tr:nth-child(odd):hover td {
    background: #666B85; }
  .app-container tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  .app-container tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }
  .app-container td {
    position: relative;
    background: #fff;
    padding: 10px 10px 10px 20px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    overflow: hidden;
    /*text-overflow: ellipsis;*/ }
  .app-container .tbody {
    display: block;
    height: calc(50vh - 1px);
    min-height: calc(200px + 1 px); }
  .app-container .content:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0)); }
  .app-container tr:nth-child(odd) .content:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(right, #ebebeb, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, #ebebeb, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, #ebebeb, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, #ebebeb, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #ebebeb, rgba(255, 255, 255, 0)); }
  .app-container tr:hover .content:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-linear-gradient(right, #4e5066, rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(right, #4e5066, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(right, #4e5066, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(right, #4e5066, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to left, #4e5066, rgba(255, 255, 255, 0)); }
  .app-container td:last-child {
    border-right: 0; }
  .app-container th.text-left {
    text-align: left; }
  .app-container th.text-center {
    text-align: center; }
  .app-container th.text-right {
    text-align: right; }
  .app-container td.text-left {
    text-align: left; }
  .app-container td.text-center {
    text-align: center; }
  .app-container td.text-right {
    text-align: right; }
  .app-container .load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .app-container .load > div {
    float: left;
    margin: 2px;
    height: 35px;
    width: 5px;
    background: #003300;
    animation: load 1.4s infinite ease-in-out; }
  .app-container .load .load1 {
    animation-delay: -1.3s; }
  .app-container .load .load2 {
    animation-delay: -1.2s; }
  .app-container .load .load3 {
    animation-delay: -1.1s; }
  .app-container .load .load4 {
    animation-delay: -1.0s; }

@keyframes load {
  0%,
  50%,
  100% {
    transform: scaleY(0.3); }
  25% {
    transform: scaleY(1); } }
