/*FONT IMPORT*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

iframe {
  width: 100%;
  border: 0;
  min-height: 80%;
  height: 600px;
  display: flex;
}
.nowrap {
  white-space: nowrap;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #3e94ec;
}

/*.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e94ec;
}*/

.logo {
  font-family: 'Pacifico', helvetica, sans-serif;
  position: relative;
  text-align: center;
  z-index: 3;
  color: #ffffff;
  margin-top: 120px;
  font-size: 50px;
  padding: 0 10%;
  /*background: #6EAFF1;*/
}

.hummingbird-icon {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}
.hummingbird-icon img{
  width: 128px;
  height: 128px;
  margin-top: 20px;
}

.btncolor {
  background: #EA4335;
}

h2 {
  position: relative;
  text-align: center;
  z-index: 3;
  color: #ffffff;
  margin-top: 20px;
  font-size: 32px;
  padding: 0 10%;
}

strong {
  font-weight: 900;
}

.button {
  position: absolute;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
