/*body {*/
  /*background: #111;*/
  /*background-size: .2em 100%;
}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

.logo {
  font-family: 'Pacifico', helvetica, sans-serif;
  position: relative;
  text-align: center;
  z-index: 3;
  color: #ffffff;
  margin-top: 40px;
  font-size: 50px;
  padding: 0 10%;
  /*background: #6EAFF1;*/
}

.hummingbird-icon {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}
.hummingbird-icon img{
  width: 128px;
  height: 128px;
  margin-top: 20px;
}

iframe {
  width: 100%;
  border: 0;
  min-height: 80%;
  height: 80vh;
  display: flex;
}

.container {
  width: 80vw;
  height: 80vh;
  overflow: scroll;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.message-link {
  width: 100vw;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}

body {
  /*background-color: #3e94ec;*/
  background-color: #3D3D3E;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.nocursor {
  cursor: default;
}

/*div.table-title {
  display: block;
  margin: auto;
  max-width: 100vw;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}*/


/*** Table Styles **/

.table-fill {
  background: white;
  /*border-radius:3px;*/
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 100vw;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  table-layout: fixed;
  overflow: hidden;
  max-width: 100vw;
}

/*.table-fill thead tr {
  display: block;
  position: relative;
}

.table-hover {
  display: block;
}*/

th {
  /*color:#D5DDE5;*/
  color: #fff;
  background: #3D3D3E;
  /*background: #EA4335;*/
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:22px;
  font-weight: 100;
  padding: 10px;
  padding-left:24px;
  max-width: 100vw;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  /*max-width: 400px;*/
  /*width: 1000px;*/
}

th:first-child {
  /*border-top-left-radius:3px;*/
  width: 300px;
}

th:last-child {
  /*border-top-right-radius:3px;*/
  border-right:none;
  width: 300px;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:14px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  max-width: 100vw;
  /*width: 400px;*/
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:hover a {
  color:#FFFFFF;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  position: relative;
  background:#FFFFFF;
  padding: 10px;
  padding-left:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
}

/*FADE*/

.content:after {
	content: "";
	pointer-events: none;
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0; right: 0;

	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

tr:nth-child(odd) .content:after {
  content: "";
	pointer-events: none;
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0; right: 0;

	background-image: -webkit-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
}

tr:hover .content:after {
	content: "";
	pointer-events: none;
	position: absolute;
	width: 100px;
	height: 100%;
	top: 0; right: 0;

	background-image: -webkit-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to left, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*LOADING ANIM*/

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 25px;
  width: 10px;
  border-radius: 10%;
  background: #2c3e50;
  border-top-color: #2980b9;
  -webkit-animation: fade2 1s infinite;
          animation: fade2 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:after, .loading:before {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 10px;
  background: #2c3e50;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  border-radius: 10%;
  -webkit-animation: fade1 1s infinite;
          animation: fade1 1s infinite;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.loading:before {
  left: 15px;
  -webkit-animation: fade3 1s infinite;
          animation: fade3 1s infinite;
}

@-webkit-keyframes fade1 {
  0% {
    background: #2980b9;
  }
}

@keyframes fade1 {
  0% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@keyframes fade2 {
  33% {
    background: #2980b9;
  }
}
@-webkit-keyframes fade3 {
  66% {
    background: #2980b9;
  }
}
@keyframes fade3 {
  66% {
    background: #2980b9;
  }
}
