$white: #fff;
$black: #000;
// FLAT
$bleu: #3E94EC;
$bleu_dim: #2b79c9;
$googleRed: #F64545;
$googleRed_dim: #d12f21;
$okGreen: #8bc34a;
// MAIN
$mainGray: #3D3D3E;
$secondaryGray: #343436;
$darkGray: #1D1F20;
$athensGray: #DFDFDF;
// UI
$limeGreen = #38C128;
$sunOrange = #FCC14A;
$coralRed = #F64545;
$celestialBlue = #4FA6CF;
$textGray = #393E3F;
// SECONDARY
$ebony: #343436;
$darkGreen: #191919;
$lightGray: #EFEFEF;
$medGray: #555555;
$seperator: #C1C3D1;
$lightPurple: #666B85;
$darkPurple: #22262e;
$offset: 187;
$duration: 1.4s;
