$white: #fff;
$black: #000;

// FLAT

$bleu: #3E94EC;
$googleRed: #EA4335;

// MAIN

$mainGray: #3D3D3E;
$secondaryGray: #343436;
$darkGray: #1D1F20;

// TABLE

$ebony: #343436;
$darkGreen: #191919;
$lightGray: #EBEBEB;
$medGray: #555555;
$seperator: #C1C3D1;
$lightPurple: #666B85;
$darkPurple: #22262e;


$offset: 187;
$duration: 1.4s;
