@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import 'variables';

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.loginContainer {
body {
  // font-family: 'Raleway', sans-serif;
  background-color: $darkGray;
  color: $white;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
iframe {
  width: 100%;
  border: 0;
  min-height: 80%;
  height: 600px;
  display: flex;
}
.bg-white {
  background: $white;
}
.nowrap {
  white-space: nowrap;
}

.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $darkGreen;
  transition: background .4s;
}

.logo {
  font-family: 'Pacifico', helvetica, sans-serif;
  position: relative;
  text-align: center;
  z-index: 3;
  color: $white;
  margin-top: 120px;
  font-size: 102px;
  font-weight: 300;
  padding: 0 10%;
  /*background: #6EAFF1;*/
}

.hummingbird-icon {
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}
.hummingbird-icon img{
  width: 128px;
  height: 128px;
  margin-top: 20px;
}

.btncolor {
  background: $googleRed;
}

h2 {
  position: relative;
  text-align: center;
  z-index: 3;
  color: $white;
  margin-top: 60px;
  font-size: 22px;
  font-weight: 300;
  padding: 0 10%;
}

strong {
  font-weight: 900;
}

// LOGIN BUTTON

$primary: #2196F3;

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

.login {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  height: 60px;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 100px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  z-index: 9;

  &.loading {
    button {
      max-height: 100%;
      padding-top: 50px;
      .spinner {
        opacity: 1;
        top: 40%;
      }
    }
  }

  &.ok {
    button {
      background-color: #8bc34a;
      .spinner{
        border-radius: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        height: 20px;
        animation: none;
        transform: rotateZ(-45deg);
      }
    }
  }

  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;

    &+ i.fa {
        color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
      transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: $googleRed;
      border-left-width: 35px;
    }

  }

  a {
   font-size: 0.8em;
    color: $primary;
    text-decoration: none;
  }

  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $googleRed;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 1000px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    outline: 0;
    transform: rotateZ(0deg);

    transition: all 0.1s ease-out;
      border-bottom-width: 7px;

    .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255,255,255,0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease,
                opacity 0.3s 0.3s ease,
                border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    }

  }

    &:not(.loading) button:hover {
      box-shadow: 0px 1px 3px $primary;
    }
    &:not(.loading) button:focus {
      border-bottom-width: 4px;
    }


}

}
