@import 'variables';

.app-container {

    height: 100vh;
    overflow: hidden;

    body {
      // font-family: 'Raleway', sans-serif;
      // background-color: $darkGray;
      color: $white;
      font-family: "Open Sans", helvetica, arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
    }
    .app-bar, .footer-bar{
      height: 60px;
      width: 100%;
      background: $darkGray;
      // -webkit-box-shadow: 0px 0px 38px 0px $darkGray;
      // -moz-box-shadow: 0px 0px 38px 0px $darkGray;
      // box-shadow: 0px 0px 38px 0px $darkGray;
    }

    .nav-bar, .side-bar {
      height: 100vh;
      width: 60px;
      background: $darkGray;
    }

    .footer-bar {
      position: absolute;
      bottom: 0;
    }

    iframe {
        width: 100%;
        border: 0;
        min-height: 80%;
        height: 75vh;
        display: flex;
    }
    .mail-container {
        // position: absolute;
        // left: 0;
        // top: 0;
        width: 50vw; //pixel value
        height: 90vh;
        // position: absolute;
        overflow: scroll;
        // margin-top: 60px;
        // left: 0;
        // margin-left: 20px;
    }
    .mail-container--mailbox {
      height: 160px;
      //display: block; == default
      // width: 50vw;
      background: $lightGray;
      color: $black;
      border-bottom: 1px solid $seperator;
      padding: 20px;
      padding-left: 20px;
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mail-container--mailbox:last-child {
      border-bottom: 0px;
    }

    .mail-container--mailbox .snippet {
      overflow: hidden;
    }

    .mailbox--mail {
      overflow: hidden;
    }

    .mailbox--mail .date, .snippet {
      color: $medGray;
    }

    .unread-badge {
      width: 10px;
      height: 10px;
      background: $bleu;
      border-radius: 40%;
      margin-right: 5px;
    }

    .important-badge {
      width: 10px;
      height: 10px;
      background: $googleRed;
      border-radius: 40%;
      margin-right: 5px;
    }

    .mail-content {
        // position: absolute;
        // left: 0;
        // top: 0;
        width: 40vw; //pixel value
        height: 90vh;
        background: $black;
        // position: absolute;
        overflow: scroll;
        // margin-top: 60px;
        // left: 0;
        // margin-left: 20px;
    }

    uib-pagination {
      margin: 0 auto;
    }

    .logo {
        // font-family: 'Pacifico', helvetica, sans-serif;
        font-family: "Open Sans", helvetica, arial, sans-serif;
        font-weight: 300;
        margin-top: 0;
        margin-left: 60px;
        padding-top: 15px;
        z-index: 3;
        color: $white;
        font-size: 30px;
        // padding-right: 20px;
    }
    .icon {
      width: 30px;
      height: 30px;
      -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
    }
    .icon-container {
      width: 60px;
      height: 80px;
      // margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 2px solid $black;
    }
    .icon-container:hover {
      background: $darkPurple;
    }
    .active {
      background: $darkPurple;
      -webkit-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px -10px 0px 0px rgba(0,0,0,0.5);
    }
    .nav-pills > li > a {
        padding: 5px 10px;
    }
    .mailNav {
        margin-top: 60px;
        margin-left: 30px;
    }
    .modal-header {
        background: $mainGray;
        color: $white;
    }
    .modal-body {
        // height: 70vh;
        // background: $darkGray;
    }
    .hummingbird-icon {
        width: 128px;
        margin-left: auto;
        margin-right: auto;
    }
    .hummingbird-icon img {
        width: 128px;
        height: 128px;
        margin-top: 20px;
    }
    .footer {
      height: 20px;
      background: $ebony;
      border-top: 2px solid $medGray;
    }
    .nowrap {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .nocursor {
        cursor: default;
    }

    // scroll-helper

    svg {
      fill: $white;
    }

    .scroll-helper {
      position: absolute;
      bottom: 100px;
      left: 430px;
    }

    circle {
      animation: scroll 1.5s ease infinite;
    }

    @keyframes scroll {
      0% {
        opacity: 0;
        cy: 481;
      }
      33% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        cy: 231;
      }
    }
    /*** Table Styles **/
    .table-fill {
        background: $darkGray;
        // border-radius:3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        // max-width: 100vw;
        // padding:5px;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
        table-layout: fixed;
        overflow: hidden;
    }
    th {
        // position: fixed;
        color: $white;
        background: $mainGray;
        /*background: #EA4335;*/
        // border-bottom:4px solid #9ea7af;
        border-bottom: 4px solid $medGray;
        // border-right: 1px solid #343a45;
        border-right: 1px solid $darkGray;
        font-size: 22px;
        font-weight: 100;
        padding: 10px;
        padding-left: 24px;
        // max-width: 100vw;
        text-align: left;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        vertical-align: middle;
        /*max-width: 400px;*/
        /*width: 1000px;*/
    }
    th:first-child {
        /*border-top-left-radius:3px;*/
        width: 300px;
    }
    th:last-child {
        /*border-top-right-radius:3px;*/
        border-right: none;
        width: 300px;
    }
    tr {
        border-top: 1px solid $seperator;
        border-bottom-: 1px solid $seperator;
        color: $lightPurple;
        font-size: 14px;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        // max-width: 100vw;
        /*width: 400px;*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    tr:hover td {
        background: #4E5066;
        color: #FFFFFF;
        // border-top: 1px solid $darkPurple;
        // border-bottom: 1px solid $darkPurple;
    }
    tr:hover a {
        color: $white;
    }
    tr:first-child {
        border-top: none;
    }
    tr:last-child {
        border-bottom: none;
    }
    tr:nth-child(odd) td {
        background: $lightGray;
    }
    tr:nth-child(odd):hover td {
        background: $lightPurple;
    }
    tr:last-child td:first-child {
        border-bottom-left-radius: 3px;
    }
    tr:last-child td:last-child {
        border-bottom-right-radius: 3px;
    }
    td {
        position: relative;
        background: $white;
        padding: 10px 10px 10px 20px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 18px;
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        border-right: 1px solid $seperator;
        overflow: hidden;
        /*text-overflow: ellipsis;*/
    }
    .tbody {
      display: block;
      height: calc(50vh - 1px);
      min-height: calc(200px + 1 px);
    }
    /*FADE*/
    .content:after {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
        background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    tr:nth-child(odd) .content:after {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
        background-image: -webkit-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(235,235,235, 1), rgba(255, 255, 255, 0));
    }
    tr:hover .content:after {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
        background-image: -webkit-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(78,80,102, 1), rgba(255, 255, 255, 0));
    }
    td:last-child {
        border-right: 0;
    }
    th.text-left {
        text-align: left;
    }
    th.text-center {
        text-align: center;
    }
    th.text-right {
        text-align: right;
    }
    td.text-left {
        text-align: left;
    }
    td.text-center {
        text-align: center;
    }
    td.text-right {
        text-align: right;
    }
    .load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.load > div {
  float: left;
  margin: 2px;
  height: 35px;
  width: 5px;
  background: #003300;
  animation: load 1.4s infinite ease-in-out;
}

.load .load1 {
  animation-delay: -1.3s;
}

.load .load2 {
  animation-delay: -1.2s;
}

.load .load3 {
  animation-delay: -1.1s;
}

.load .load4 {
  animation-delay: -1.0s;
}

@keyframes load {
  0%,
  50%,
  100% {
    transform: scaleY(0.3);
  }
  25% {
    transform: scaleY(1.0);
  }
}
}
