@import 'variables';

.notouch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7));
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.app-container {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    body {
      // font-family: 'Raleway', sans-serif;
      // background-color: $darkGray;
      color: $white;
      font-family: "Open Sans", helvetica, arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-rendering: optimizeLegibility;
    }
    .app-bar, .footer-bar{
      height: 60px;
      width: 100%;
      background: $secondaryGray;
      // -webkit-box-shadow: 0px 0px 38px 0px $darkGray;
      // -moz-box-shadow: 0px 0px 38px 0px $darkGray;
      // box-shadow: 0px 0px 38px 0px $darkGray;
    }

    .nav-bar, .side-bar {
      height: 100vh;
      width: 60px;
      background: $secondaryGray;
    }

    .footer-bar {
      position: absolute;
      z-index: 1;
      bottom: 0;
    }

    iframe {
        width: 100%;
        border: 0;
        min-height: 80%;
        height: 60vh;
        display: flex;
    }
    .mail-container {
        // position: absolute;
        // left: 0;
        // top: 0;
        width: 46vw; //pixel value
        height: 90vh;
        // position: absolute;
        overflow: scroll;
        // margin-top: 60px;
        // left: 0;
        // margin-left: 20px;
    }
    .mail-container--mailbox {
      height: 160px;
      //display: block; == default
      // width: 50vw;
      background: $lightGray;
      color: $black;
      border-bottom: 1px solid $seperator;
      padding: 20px;
      padding-left: 20px;
      cursor: default;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .mail-container--mailbox:last-child {
      border-bottom: 0px;
    }

    .mail-container--mailbox .snippet {
      overflow: hidden;
    }

    .mailbox--mail {
      overflow: hidden;
    }

    .mail-container--mailbox:hover {
      background: $seperator;
    }

    .mailbox--mail .date, .snippet {
      color: $medGray;
    }

    .unread-badge {
      width: 10px;
      height: 10px;
      background: $bleu;
      border-radius: 40%;
      margin-right: 5px;
    }

    .important-badge {
      width: 10px;
      height: 10px;
      background: $googleRed;
      border-radius: 40%;
      margin-right: 5px;
    }

    .mail-content {
        // position: absolute;
        // left: 0;
        // top: 0;
        width: 46vw; //pixel value
        height: 90vh;
        background: $black;
        // position: absolute;
        overflow: scroll;
        // margin-top: 60px;
        // left: 0;
        // margin-left: 20px;
    }

    .mail--menu {
      // position: absolute;
      margin-top: -20px;
      left: 50vw;
      height: 160px;
      width: 60px;
      border: 2px solid $black;
      background: $medGray;
    }
    .trash-icon {
      margin-left: auto;
      margin-right: auto;
      height: 50px;
      width: 50px;
    }
    .trash-icon:hover {
      color: $white;
    }
    .topicon {
      height: 50px;
      width: 50px;
      position: absolute;
      margin-left: 2px;
      padding-top: 5px;
    }
    .logo {
        font-family: 'Pacifico', helvetica, sans-serif;
        // font-family: "Open Sans", helvetica, arial, sans-serif;
        font-weight: 300;
        position: absolute;
        left: 60px;
        margin-top: 15px;
        color: $white;
        font-size: 30px;
    }
    .username {
      font-family: "Open Sans", helvetica, arial, sans-serif;
      font-weight: 300;
      position: absolute;
      // right: 30px;
      bottom: 50px;
      margin-left: 5px;
      // padding-top: 15px;
      color: $white;
      font-size: 16px;
      // padding-right: 30px;
    }
    .icon {
      width: 30px;
      height: 30px;
      // -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
      // -moz-box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
      // box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.5);
    }
    .icon-container--nav {
      width: 50px;
      height: 60px;
      border-radius: 5px;
      // margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: $ebony;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // border-bottom: 1px solid $mainGray;
      border: 1px solid $darkGray;
      margin-bottom: 10px;
      background: $ebony;
      -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
    }
    .icon-container--nav:hover {
      background: $darkPurple;
    }
    .icon-container--trash {
      width: 50px;
      height: 60px;
      border-radius: 5px;
      // margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      background: $ebony;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 0px solid $black;
      border-top: 1px solid $darkPurple;
      margin-bottom: 10px;
      background: $ebony;
      -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
    }
    .icon-container--trash:hover {
      background: $googleRed;
    }
    .active {
      background: $darkPurple;
      border: 1px solid $ebony;
      -webkit-box-shadow: inset 0px 5px 2px 0px rgba(0,0,0,0.5),
      inset 0px -1px 0px 0px rgba(255,255,255,0.1);
      -moz-box-shadow: inset 0px 5px 2px 0px rgba(0,0,0,0.1),
      inset 0px -1px 0px 0px rgba(255,255,255,0.4);
      box-shadow: inset 0px 5px 2px 0px rgba(0,0,0,0.3),
      inset 0px -1px 0px 0px rgba(255,255,255,0.1);
    }
    .menu-trash {
      margin-top: 15px;
      width: 40px;
      height: 45px;
    }
    .menu-trash:hover {
      background: $googleRed;
    }
    .menu-trash:active {
      background: $googleRed;
      -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.1),
      inset 0px 6px 10px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.1),
      inset 0px 6px 10px 0px rgba(0,0,0,0.4);
      box-shadow: inset 0px 0px -3px -10px rgba(0,0,0,0.1),
      inset 0px 6px 10px 0px rgba(0,0,0,0.4);
    }
    .menu-trash > .icon {
      width: 25px;
    }
    .nav-pills > li > a {
        padding: 5px 10px;
    }
    .mailNav {
        margin-top: 60px;
        margin-left: 30px;
    }
    .modal-header {
        background: $mainGray;
        color: $white;
    }
    .modal-body {
        // height: 70vh;
        // background: $darkGray;
    }
    .modal {
      margin-top: 6vh;
    }
    .hummingbird-icon {
        width: 128px;
        margin-left: auto;
        margin-right: auto;
    }
    .hummingbird-icon img {
        width: 128px;
        height: 128px;
        margin-top: 20px;
    }
    .footer {
      height: 20px;
      background: $ebony;
      border-top: 2px solid $medGray;
    }
    .nowrap {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .nocursor {
        cursor: default;
    }
    .search {
      position: absolute;
      right: 60px;
      padding-top: 15px;
    }
    .mail-menu {
      left: -60px;  /* start off behind the scenes */
      height: 160px;
      position: absolute;
      top: 0;
      width: 60px;
      background: $darkPurple;
      border-bottom: 1px solid $darkGray;
      // z-index: -1;
    }
    .menu-button {
      width: 10px;
      height: 40px;
      margin-top: -20px;
      margin-left: -10px;
      margin-right: 10px;
      float: left;
      border: none;
      background: $medGray;
      -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
      box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.5);
    }
    .menu-button:hover {
      background: $googleRed;
      height: 45px;
    }
    .menu-button:active {
      outline: none;
    }
    .move-right {
      transform: translateX(60px);
      transition-duration: .4s;
    }
    .move-left {
      transform: translateX(0px);
      transition-duration: .4s;
    }
    .compose {
      position: absolute;
      bottom: 110px;
      left: 5px;
    }

    // scroll-helper

    svg {
      fill: $white;
    }

    .scroll-helper {
      position: absolute;
      bottom: 100px;
      left: 24vw;
    }

    circle {
      animation: scroll 1.5s ease infinite;
    }

    @keyframes scroll {
      0% {
        opacity: 0;
        cy: 481;
      }
      33% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        cy: 231;
      }
    }
  .load {
  position: absolute;
  top: 50%;
  left: 26vw;
  transform: translate(-50%, -50%);
}

.load > div {
  float: left;
  margin: 2px;
  height: 35px;
  width: 5px;
  background: #003300;
  animation: load 1.4s infinite ease-in-out;
}

.load .load1 {
  animation-delay: -1.3s;
}

.load .load2 {
  animation-delay: -1.2s;
}

.load .load3 {
  animation-delay: -1.1s;
}

.load .load4 {
  animation-delay: -1.0s;
}

@keyframes load {
  0%,
  50%,
  100% {
    transform: scaleY(0.3);
  }
  25% {
    transform: scaleY(1.0);
  }
}
}
